.aboutMe-main {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: default;

}

.aboutMe-content {
    font-size: 2rem;
    width: 100%;
    display: flex;
    
}


.aboutMe-content-table, th, td{
    border: 0.3rem solid black;
    border-collapse: separate;
    border-radius: 1rem;
    
}

.aboutMe-content-table {
    
    text-align: center;
    vertical-align: middle;
    justify-self: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-style: dotted;
    
    
}


.aboutMe-content-table th{
    padding: 0.5rem;
    vertical-align: middle;
    
}


.aboutMe-content-table td{
    padding: 1rem;
    text-align: center;
    vertical-align: center;
}

.aboutMe-content-table tr:nth-child(even){
    background-color: var(--themeColor04);
}



.aboutMe-content a img{
    background-size: 50%;
    height: 20rem;
}

.aboutMe-content a:hover{
    filter: brightness(120%);
}