.custom-cursor { 
    position: fixed; 
    top: -2rem; 
    left: -2rem; 
    width: 4rem; 
    height: 4rem; 
    background-color: #ffffff; 
    border-radius: 50%; 
    mix-blend-mode: screen; /* This is used to create the glowing effect */ 
    pointer-events: none; /* This allows the cursor to pass through to the elements behind it */ 
    z-index: 9999; /* Ensure it's above other elements on the page */ 
    transition: transform 0.1s ease-out; /* Add a smooth transition for movement */ 
    box-shadow: -2rem -2rem 4rem rgba(255, 255, 255, 1);  /* Create the glowing effect using box-shadow */ 
    filter: brightness(70%) blur(0.3rem);
    /* display: none; */
} 





.gallery{
    font-size: 3rem;
    width: 100%;
    
}


.gallery-image{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;

    width: 100%;
    row-gap: 2rem;

    flex-direction: center;

    justify-content: center;
}
.gallery-image img{
    width: 28vh;
    object-fit: cover;
    margin: 0.5rem 0.75rem;
    transition: all 0.2s;

}




.gallery-table {
    width: 60rem;
    margin: 0 auto;
    font-size: 2rem;
}


.gallery-table table{
    width: 100%;
    margin: 6rem auto;
    border: 0.4rem solid #000;
    border-style: dotted;

}

.gallery-table table,th,td{
    border-collapse: separate;
    border-radius: 1rem;
    padding: 0.3rem;
    border-spacing: 0.1rem;
}

.gallery-table table tr td:nth-child(4){
    width: 30rem
}



.gallery th{
    font-weight: bold;
    border: 0.2rem solid var(--themeColor02);
    
}
.gallery td{
    border: 0.2rem solid var(--themeColor01);
    
}


.gallery-table table tr:nth-child(even){
    background-color: var(--themeColor04);
}

