:root{
    --themeColor01:#a231c1;
    --themeColor01-hover:#5f0c5f;
    --themeColor02:#000000;
    --themeColor02-hover:#712dbe;
    --themeColor03:#d493e5;
    --themeColor04:#edc6f7;
    --themeColor05:rgb(247, 224, 249);




}


body {

    background-color: #a970c34d;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: var(--themeColor03);
    background-repeat: repeat;
    background-position: center;
    z-index: 100;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/ekans.png);

}

h1 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    
}

h2 {
    font-size: 18px;
    line-height: 16px;
    font-weight: 400;
    
}

h3 {
    font-size: 26px;
    line-height: 30px;
    font-weight: 600;
    
}



p {
    font-size: 14px;
    line-height: 18px;
    
}

main {
    width: 100%;
    height: calc(100vh-60px);
    margin-top: 60px;

}



a {
    cursor: pointer;
    color: var(--themeColor02);
    font-weight: 1000;
    letter-spacing: -1px;
}



.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: var(--themeColor01);
    display: flex;
    justify-content: space-between;

    z-index: 3000;

}



.header-main-logo {
    width: fit-content;
    height: 100%;
    padding: 0 10px 0 10px;
    display: flex;

}


.header-main-logo img{
    height: 60px;
    align-self: center;
    transition: all ease-in-out 0.75s;
}
.header-main-logo img:hover {
    filter:brightness(145%);
    transition: all ease-out 0.5s;
}


.header-main-nav {
    width: fit-content;
    min-width:410px;
    height: 100%;
    text-align: center;

}

.header-main-nav ul {
    list-style: none;
    margin: 0 10px 0 10px;
    font-weight: 1000;
    letter-spacing: -1px;
    
}
.header-main-nav ul li{
    display: inline;
    float: left;
    /* margin-right: 10px; */
    
}
.header-main-nav ul li a{
    padding: 0 10px 0 10px;
    line-height: 60px;
    display: block;
    height: 100%;
    transition: all ease-in-out 0.75s;
    
}
.header-main-nav ul li a:hover {
    color: var(--themeColor02-hover);
    filter: brightness(230%);
    transition: all ease-out 1.5s;
}



.header-main-rc {
    width: fit-content;
    height: 100%;
    padding: 0 10px 0 10px;
    display: flex;
    align-items: center;
    column-gap: 0px;
}

.header-main-rc-fg {
    width: 50px;
    height: 50px;
    background-image: url(../img/facebook-logo-black-v2.png);
    background-repeat: repeat;
    background-size: cover;
    transition: all ease-in-out 0.75s;
}
.header-main-rc-fg:hover {
    filter: invert(1);
    transition: all ease-in-out 0.5s;
}

.header-main-rc-yt {
    width: 50px;
    height: 38px;

    background-image: url(../img/youtube-logo-black.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 0.75s;
}
.header-main-rc-yt:hover {
    filter: invert(1);
    transition: all ease-in-out 0.5s;
}
.header-main-rc-gh {
    width: 50px;
    height: 42px;
    background-image: url(../img/github-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 0.75s;
}
.header-main-rc-gh:hover {
    filter: invert(1);
    transition: all ease-in-out 0.5s;
}


.image {
    width: 300px;
    cursor: pointer;
    padding: 0px 0px 0px 20px;
}


.image2 {
    width: 300px;
    height: 500px;
    margin-left: 20px;
    background-image: url(../img/planet_v1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all ease-in-out 1s;
    transition: all ease-out 1s;

}

.image2:hover {
    background-image: url(../img/ekans.png);
}




.main-p {
    color: var(--themeColor01);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 1000;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 30px;
    word-spacing: 20px;
}

.test-div{
    width: 100px;
    height: 100px;
    background-color: var(--themeColor01);

    margin: 100px 0 0 100px;
    padding: 100px 0 0 100px;
    /*
    margin-top: 100px;
    margin-left: 100px;
    */


}

.container {
    position: relative;
    right: 100px;
    width: calc(100% - 100px);
    height: 2000px;
    background-color: violet;
    background-color: var(--themeColor02);
    z-index: 10;
    display: flex;
    float: left;
    
}