:root{
    --themeColor01:#a231c1;
    --themeColor01-hover:#5f0c5f;
    --themeColor02:#000000;
    --themeColor02-hover:#712dbe;
    --themeColor03:#d493e5;
    --themeColor04:#edc6f7;
    --themeColor05:rgb(247, 224, 249);
    font-size: 62.5%; /*10px*/
    cursor: default;



}


body {

    background-color: #a970c34d;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: var(--themeColor03);
    background-repeat: repeat;
    background-position: center;
    z-index: 100;
    width: 100%
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/ekans.png);
 
}


h1 {
    font-size: 2.6rem;
    line-height: 3.0rem;
    font-weight: 600;
    
}

h2 {
    font-size: 1.8rem;
    line-height: 2.0rem;
    font-weight: 400;
    
}

h3 {
    font-size: 2.6rem;
    line-height: 3.0rem;
    font-weight: 600;
    
}



p {
    font-size: 1.4rem;
    line-height: 1.8rem;
    
}
p:hover {
    cursor: default;
    
}

main {

    width: 100%;
    height: calc(100vh-6rem);
    margin-top: 6rem;

}

.wrapper-main{
    width: 105rem;
    margin: 0rem auto;

}


a {
    cursor: pointer;
    color: var(--themeColor02);
    font-weight: 1000;
    letter-spacing: -0.1rem;
    transition: all ease-in-out 0.75s;
}

a:hover {
    color: var(--themeColor02-hover);
    filter: brightness(210%);
    transition: all ease-out 0.7s;
}



.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 6.0rem;
    background-color: var(--themeColor01);
    display: flex;
    justify-content: space-between;

    z-index: 3000;

}



.header-main-logo {
    width: fit-content;
    height: 100%;
    padding: 0 1.0rem 0 1.0rem;
    display: flex;

}


.header-main-logo img{
    height: 6.0rem;
    align-self: center;
    transition: all ease-in-out 0.75s;
}
.header-main-logo img:hover {
    filter:brightness(145%);
    transition: all ease-out 0.4s;
}


.header-main-nav {
    width: fit-content;
    min-width: 41rem;
    height: 100%;
    text-align: center;

}

.header-main-nav ul {
    list-style: none;
    margin: 0 1rem 0 1rem;
    font-weight: 1000;
    letter-spacing: -0.1rem;
    font-size: 1.5rem;
    
}
.header-main-nav ul li{
    display: inline;
    float: left;
    /* margin-right: 10px; */
    
}
.header-main-nav ul li a{
    padding: 0 1rem 0 1rem;
    line-height: 6rem;
    display: block;
    height: 100%;
    transition: all ease-in-out 0.75s;
    
}
.header-main-nav ul li a:hover {
    color: var(--themeColor02-hover);
    filter: brightness(230%);
    transition: all ease-out 0.7s;
}



.header-main-rc {
    width: fit-content;
    height: 100%;
    padding: 0 1rem 0 1rem;
    display: flex;
    align-items: center;
    column-gap: 0rem;
}

.header-main-rc-fg {
    width: 5rem;
    height: 5rem;
    background-image: url(../img/facebook-logo-black-v2.png);
    background-repeat: repeat;
    background-size: cover;
    transition: all ease-in-out 0.75s;
}
.header-main-rc-fg:hover {
    filter: invert(1);
    transition: all ease-in-out 0.5s;
}

.header-main-rc-yt {
    width: 5rem;
    height: 3.8rem;

    background-image: url(../img/youtube-logo-black.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 0.75s;
}
.header-main-rc-yt:hover {
    filter: invert(1);
    transition: all ease-in-out 0.5s;
}
.header-main-rc-gh {
    width: 5rem;
    height: 4.2rem;
    background-image: url(../img/github-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    transition: all ease-in-out 0.75s;
}
.header-main-rc-gh:hover {
    filter: invert(1);
    transition: all ease-in-out 0.5s;
}


.header-margin {
    height: 6rem;
}




/* FOOTER */

.footer-main {
    
    width: 100%;
    padding: 1.2rem 1.2rem 1.2rem 1.2rem;
    background-color: #000000;
    color: var(--themeColor03);
    z-index: 2999;

}


.footer-main-sitemap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 1rem;
    line-height: 2rem;
    
    
}
/*.footer-main-sitemap ul:nth-child() */

.footer-main-sitemap-first {
    flex-basis: 10%;
    border-left: 0.4rem solid #712dbe;
    padding-left: 0.2rem;
    padding-right: 0rem;
    margin-right: 0rem;
    

}
.footer-main-sitemap-first li {
    text-align: left;    
    flex-grow: -0.1rem;
    margin-left: 0rem;

}

.footer-main-sitemap-second {
    flex-basis: 7%;
    text-transform: uppercase;
    padding-left: 0rem;
    
}
.footer-main-sitemap-second li {
    text-align: left;
}


.footer-main-sitemap-copyright {
    flex-basis: 55%;
    flex-grow: 0.1rem;
}

.footer-main-sitemap ul {
    display: block;
    text-align: center;
}


.footer-main-sitemap a {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--themeColor04);
}

.footer-main-sitemap a:hover {
    filter: brightness(210%);
    transition: all ease-in-out 0.2s;
}


.footer-main-privacy {
    display: none;
    border-bottom: 0.3rem solid var(--themeColor01);
    margin-bottom: 1rem;
}


.footer-main-privacy-head {
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    
    font-weight: 600;
    height: 3rem;
    vertical-align: middle;
    
    
}

.footer-main-privacy-head-closeBtn {
    flex-basis: 3.0rem;
    background-image: url(../img/icon/cancel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    flex-grow: -1;
    cursor: pointer;
}

.footer-main-privacy-content{
    text-align: justify;
    padding-bottom: 0.5rem;
    
}

.footer-main-disclaimer {
    display: none;
    border-bottom: 0.3rem solid var(--themeColor01);
    margin-bottom: 1rem;
}



.footer-main-disclaimer-head {
    display: flex;
    font-size: 1.8rem;
    justify-content: space-between;
    font-weight: 600;
    height: 3rem;
    vertical-align: middle;
    
}


.footer-main-disclaimer-head-closeBtn {
    flex-basis: 3.0rem;
    background-image: url(../img/icon/cancel.png);
    background-size: 100%;
    background-repeat: no-repeat;
    flex-grow: -1;
    cursor: pointer;
}

.footer-main-disclaimer-content{
    text-align: justify;
    padding-bottom: 0.5rem;
}









.burger-menu, .burger-menu-btn {
    display: none;

}


/* For Mobile Version
Typical Break Points:
600px, 601px, 768px, 992px, 1200px
*/


@media only screen and (max-width: 600px) {

    .burger-menu-btn {
        display: block;
        width: 5rem;
        height: 5rem;
        background-image: url(../img/icon/burger-menu-2.png), url(../img/icon/cancel.png);
        background-size: cover;
        filter: brightness(180%);
        background-repeat: no-repeat;
        background-position: center, center left 5rem;
        cursor: pointer;
    }
    .burger-menu-btn:hover {
        filter: brightness(360%);
        transition: all ease-in-out 0.7s;
    }


    .burger-menu {
        display: none; /*here to look the burger menu*/
        position: fixed;
        width: 100%;
        height: 100vh;
        z-index: 900;
        background-color: var(--themeColor03);

    }

    .burger-menu ul{
        width: 100%;
        height: calc(100vh - 6rem);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;

    }

    .burger-menu ul li{
        flex-basis: 100%;
        border-bottom: 0.2rem solid #000;


    }

    .burger-menu ul li:last-child{
        border-bottom: 0.2rem solid #000;


    }

    .burger-menu ul li a{
        display: block;
        height: 100%;
        font-size: 3rem;
        padding: 30px 0;
        flex-basis: 100%;
        text-align: center;

    }

    .wrapper-main{
        width: 100%;

    }  
    .header-main-nav {
        display: none;
    
    }
    .header-main-rc {
        padding-right: 1rem;
    }
    

    .footer-main-sitemap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding-left: 1rem;
        line-height: 2rem;
        
        
    }
    
    .footer-main-sitemap-first {
        flex-basis: 15%;
        border-left: 0.4rem solid #712dbe;
        padding-left: 0.3rem;
        padding-right: 0rem;
        margin-right: 0rem;
        
    
    }
    .footer-main-sitemap-first li {
        text-align: left;    
        flex-grow: 0rem;
        margin-left: 0rem;
        
    }
    
    .footer-main-sitemap-second li {
        display: none;
    }
    
    .footer-main-sitemap-copyright {
        flex-basis: 55%;
        flex-grow: 0.1;
    }
    
    .footer-main-sitemap ul {
        display: block;
        text-align: center;
    }
    
    
    .footer-main-sitemap a {
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--themeColor04);
    }
    
    .footer-main-sitemap a:hover {
        filter: brightness(210%);
        transition: all ease-in-out 0.2s;
    }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

    .wrapper-main{
        width: 58rem;

    }  
}

@media only screen and (min-width: 768px) and (max-width: 992x) {
    .wrapper-main{
        width: 75em;

    }  


}
@media only screen and (min-width: 992px) and (max-width: 1200x) {
    .wrapper-main{
        width: 95em;

    }  




}
@media only screen and (min-width: 1200px) {
    .wrapper-main{
        width: 90em;

    }  


}